@import '~mdb-ui-kit/css/mdb.min.css';

.headerContainer {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    text-align: center;
    justify-content: space-evenly;
}

.booksHeader {
    text-align: left;
}

.headerContainer h2, .headerContainer .d-block, .headerContainer button {
margin-top: 10px;
}

img {
    margin-top: 0;
    padding-top: 0;
}
.overlay {
    color: #fff;
    position: absolute;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 0;
    top: 0;
    left: 0;
    font-size: small;
    height: 100%;
    width: 100%;
    text-align: center;
}